/* Page Loader */

body > *:not(#page-loader) {
    opacity: 0;
}

body.complete > *:not(#page-loader) {
    opacity: 1;
    transition: all 1s ease;
}

#page-loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: #fff;
    z-index: 99;
    transform: scale(1);
    transition: opacity 1s ease, transform 1s ease, left 0s ease;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;

}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 104px;
    height: 104px;
    margin: 8px;
    border: 1px solid;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #9B57C1 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lds-ring img {
    color: #9B57C1;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
    background-color: transparent;
}

/* Page Loader */

.blog-post {
    p {
        margin: 10px 0 10px 0;
    }
    ul, ol {
        margin-left: 30px;
        li {
            padding: 5px 5px 5px 5px;
        }
    }
    a {
        color: #9900ff;
    }
    a:hover {
        color: #ff00ff;
    }
    blockquote {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 5px 15px 5px 15px;
        background-color: gainsboro;
    }
    img {
        width: 75%;
        margin: 0 auto;
    }
    iframe {
        margin: 0 auto;
    }
}

.blog-post-code {
    font-family: monospace;
    font-weight: bold;
    word-break: break-all;
}
.blog-post-code-body {
    padding-left: 10px;
}
.blog-post-image-block {
    display: flex;
    padding: 10px;
    img {
        width: 50%;
        height: 50%;
    }
}